.banner {
    width: 100%;
    position: relative;
 

}

.banner img{
    width: 100%;
}
.banner-content{
    
    position: absolute;
    max-width: 100%;
    top: 33%;
    left: 5%;

}
.banner h1{
    font-size: 3rem;
    margin:10px 0px;
}
.banner p, span{
    margin-bottom: 30px;
}
.icon{
    padding-left: 10px;
    
}
@media screen and (max-width:576px){
    .banner {
         max-width: 100%;
         position: relative;
    
    }
    .banner img{
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    .banner-content{
        position: absolute;
        max-width:100%;
        
        top: 0%;
        left: 0%;
        
       
    
    }
   
    .banner h1{
        font-size: 1rem;
        margin:10px 0px;
    }
    .banner p, span{
        font-size: .8rem;
        margin-bottom: 5px;
    }
    .banner-content .custom-btn{
       
        padding: 5px 11px;
        font-size: .7rem;

    }
    .icon{
        padding-left: 10px;
        
    }
}
@media screen and (min-width:577px){
    .banner {
         width: 100%;
         
         position: relative;
    
    }
    .banner img{
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .banner-content{
        position: absolute;
        max-width: 100%;
        top: 20%;
        left: 5%;
        
       
    
    }
    .banner h1{
        font-size: 1.9rem;
        margin:10px 0px;
    }
    .banner p, span{
        font-size: .8rem;
        margin-bottom: 25px;
    }
    .banner-content .custom-btn{
       
        padding: 8px 16px;
        font-size: 1rem;

    }
    .icon{
        padding-left: 10px;
        
    }
}
@media screen and (min-width:992px){
    .banner {
        width: 100%;
        position: relative;
     
    
    }
    
    .banner img{
     max-width: 100%;
    }
    .banner-content{
        
        position: absolute;
        max-width: 100%;
        top: 33%;
        left: 5%;
    
    }
    .banner h1{
        font-size: 3rem;
        margin:10px 0px;
    }
    .banner p, span{
        font-size: 1rem;
        margin-bottom: 30px;
    }
    .icon{
        padding-left: 10px;
        
    }
}