.primary-bg{
    background-color: #45A29E !important;
}
.nav-item-link a{
    
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 15px;
    font-size: 1.0rem;
    font-weight: 400;
    color:black !important;


}
.nav-item-link{
    padding-top: 20px;
}
